<!-- _includes/footer.html -->
<div class="site-footer">
  <div class="widget-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="widget">
            <h3 class="widget-title">Kontakt</h3>
            <address>
              Česká neutronová asociace, z. s.<br>
              IČO: 23340711<br>
              Datová schránka: xkpggjg<br>
              Email: <a href="mailto:info@neutrons.cz">info@neutrons.cz</a>
            </address>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="widget">
            <h3 class="widget-title">Asociace</h3>
            <ul class="no-bullet">
              <li><a href="{{ '/about' | relative_url }}">O asociaci</a></li>
              <li><a href="{{ '/organizace' | relative_url }}">Organizační struktura</a></li>
              <li><a href="{{ '/stanovy' | relative_url }}">Stanovy</a></li>
              <li><a href="{{ '/gdpr' | relative_url }}">GDPR</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="widget">
            <h3 class="widget-title">Pro média</h3>
            <ul class="no-bullet">
              <li><a href="{{ '/aktuality' | relative_url }}">Aktuality</a></li>
              <li><a href="{{ '/konference-skoly' | relative_url }}">Konference, školy</a></li>
              <li><a href="{{ '/zpravy' | relative_url }}">Tiskové zprávy</a></li>
              <li><a href="mailto:info@neutrons.cz">Kontakt</a></li>
            </ul>
          </div>
        </div>
      </div> <!-- .row -->
    </div> <!-- .container -->
  </div> <!-- .widget-area -->

  <div class="bottom-footer">
    <div class="container">
      <div class="colophon">Copyright {{ site.time | date: "%Y" }} Česká neutronová asociace. Designed by Themezy. Běží na <a href="https://github.com/me2d09/neutrons.cz">GitHubu</a>, pull requesty vítáme.</div>
    </div>
  </div>
</div>
