<!-- _includes/header.html -->
<header class="site-header">
  <div class="top-header">
    <div class="container">
      <a href="{{ '/' | relative_url }}" id="branding">
        <img src="{{ '/images/logoCNA_cz.svg' | relative_url }}" alt="Česká neutronová asociace" class="logo">
      </a>
      <div class="right-section pull-right">
        <!--<a href="{{ '/members' | relative_url }}" class="phone members-link">-->
		  <a href="https://members.neutrons.cz" class="phone members-link">
          <i class="fa fa-user icon" aria-hidden="true"></i>
          <span>Pro členy</span>
        </a>
        <a href="{{ '/en' | relative_url }}" class="phone lang-switch" lang="en">
          <i class="fa fa-globe icon" aria-hidden="true"></i>
          <span>English</span>
        </a>
      </div>
    </div>
  </div>

  <div class="bottom-header">
    <div class="container">
      <div class="main-navigation">
        <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
        <ul class="menu">
          <li class="menu-item"><a href="{{ '/about' | relative_url }}">O asociaci</a></li>
          <li class="menu-item"><a href="{{ '/aktuality' | relative_url }}">Aktuality</a></li>
          <li class="menu-item"><a href="{{ '/konference-skoly' | relative_url }}">Konference, školy</a></li>
          <li class="menu-item"><a href="{{ '/organizace' | relative_url }}">Organizační struktura</a></li>
          <li class="menu-item"><a href="{{ '/clenstvi' | relative_url }}">Staňte se členem</a></li>
          <li class="menu-item"><a href="{{ '/dokumenty' | relative_url }}">Dokumenty</a></li>
		  <li class="menu-item"><a href="{{ '/infrastructure' | relative_url }}">Neutronové infrastruktury</a></li>
        </ul>
      </div>
<!--
      <div class="social-links">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </div>
-->
      <div class="mobile-navigation"></div>
    </div>
  </div>
</header>
